@model IEnumerable<Seatly1.Models.AspNetUser>

@{
    ViewData["Title"] = "Index";
}

<style>
    .btn-sm {
        padding: 0.25rem 0.5rem;
        font-size: 0.875rem;
        line-height: 1.5;
        border-radius: 0.2rem;
        margin: 2px;
    }

    .table-container {
        overflow: auto;
    }

</style>



<h1>使用者帳號設定</h1>

<button class="btn btn-primary btn-sm" id="createButton">
    新增使用者帳號
</button>
<br />
<div class="table-container">
    <table class="table table-striped m-3" style="max-width:100%">
        <thead class="bg-primary text-white">
            <tr>
                <th style="width:200px"> 
                    用戶名稱
                    @* @Html.DisplayNameFor(model => model.UserName) *@
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.NormalizedUserName)
                </th> *@
                <th>
                    E-mail
                    @* @Html.DisplayNameFor(model => model.Email) *@
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.NormalizedEmail)
                </th> *@
                <th>
                    E-mail驗證
                   @*  @Html.DisplayNameFor(model => model.EmailConfirmed) *@
                </th>
                @* <th>
                @Html.DisplayNameFor(model => model.PasswordHash)
                </th> *@
                @*  <th>
                @Html.DisplayNameFor(model => model.SecurityStamp)
                </th> *@
                @*  <th>
                @Html.DisplayNameFor(model => model.ConcurrencyStamp)
                </th> *@
                <th>
                    電話
                    @* @Html.DisplayNameFor(model => model.PhoneNumber) *@
                </th>
                @*   <th>
                @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
                </th> *@
                @* <th>
                @Html.DisplayNameFor(model => model.TwoFactorEnabled)
                </th> *@
                @*  <th>
                @Html.DisplayNameFor(model => model.LockoutEnd)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.LockoutEnabled)
                </th>
                <th>
                @Html.DisplayNameFor(model => model.AccessFailedCount)
                </th> *@
                @*  <th>
                @Html.DisplayNameFor(model => model.Age)
                </th> *@
                <th>
                    生日
                   @*  @Html.DisplayNameFor(model => model.Birthday *@
                </th>
@*                 <th>
                    @Html.DisplayNameFor(model => model.CreatAt)
                </th> *@
                <th>
                    用戶姓名
                    @* @Html.DisplayNameFor(model => model.MemberRealName) *@
                </th>
                @*  <th>
                @Html.DisplayNameFor(model => model.MemberNickname)
                </th> *@
                <th>
                    用戶驗證
                    @* @Html.DisplayNameFor(model => model.Permission) *@
                </th>
                <th>
                    點數
                   @*  @Html.DisplayNameFor(model => model.Points) *@
                </th>
                <th>
                    性別
                    @* @Html.DisplayNameFor(model => model.Sex) *@
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr class="m-3">
                    <td style="width:200px">
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    @* <td>
                @Html.DisplayFor(modelItem => item.NormalizedUserName)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    @*  <td>
                @Html.DisplayFor(modelItem => item.NormalizedEmail)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailConfirmed)
                    </td>
                    @*   <td>
                @Html.DisplayFor(modelItem => item.PasswordHash)
                </td> *@
                    @*  <td>
                @Html.DisplayFor(modelItem => item.SecurityStamp)
                </td> *@
                    @*  <td>
                @Html.DisplayFor(modelItem => item.ConcurrencyStamp)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNumber)
                    </td>
                    @* <td>
                @Html.DisplayFor(modelItem => item.PhoneNumberConfirmed)
                </td> *@
                    @*  <td>
                @Html.DisplayFor(modelItem => item.TwoFactorEnabled)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.LockoutEnd)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
                </td>
                <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
                </td> *@
                    @*  <td>
                @Html.DisplayFor(modelItem => item.Age)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Birthday)
                    </td>
      @*               <td>
                        @Html.DisplayFor(modelItem => item.CreatAt)
                    </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.MemberRealName)
                    </td>
                    @*  <td>
                @Html.DisplayFor(modelItem => item.MemberNickname)
                </td> *@
                    <td>
                        @Html.DisplayFor(modelItem => item.Permission)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Points)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Sex)
                    </td>
                    <td class="float-end" @* style="width: 200px;" *@>
                        <div class="btn-group" role="group">
                            <button class="activity-button edit-button btn btn-secondary btn-sm" data-clickid="@item.Id" style="min-width: 70px;">編輯</button>
                            <button class="activity-button delete-button btn btn-primary btn-sm" data-clickid="@item.Id" style="min-width: 70px;">刪除</button>
                        </div>
                    </td>
                </tr>

            }
        </tbody>
    </table>

</div>

<script>
    $(function () {


        function Load() {
            $("#dancingtime").show();
            $.ajax({
                type: "GET",
                url: `@Url.Action("_AspNetUsers", "Admin")`
            }).done(function (data) {
                $("#adminBody").html(data);
                $("#dancingtime").hide();
            }).fail(function (err) {
                alert(err.responseText);
                $("#dancingtime").hide();
            });
        }


        $("#createButton").click(function () {
            // alert("aa")
            $("#dancingtime").show();
            $.ajax({
                type: "GET",
                url: `@Url.Action("Create", "AspNetUsers")`
            }).done(function (data) {
                $("#adminBody").html(data);
                $("#dancingtime").hide();
            }).fail(function (err) {
                alert(err.responseText);
                $("#dancingtime").hide();
            });
        });


        $(".edit-button").click(function () {
            $("#dancingtime").show();
            var clickid = $(this).data("clickid");
            $.ajax({
                type: "GET",
                url: `@Url.Action("Edit", "AspNetUsers")`,
                data: { id: clickid },
            }).done(function (data) {
                $("#adminBody").html(data);
                $("#dancingtime").hide();
            }).fail(function (err) {
                alert(err.responseText);
                $("#dancingtime").hide();
            });
        });

        //刪除按鈕
        $(".delete-button").click(function () {
            // alert("cca")
            $("#dancingtime").show();
            var clickid = $(this).data("clickid");
 
            var ret = confirm("確定要刪除?");
            if (ret == true) {
                $.ajax({
                    type: "POST",
                    url: `@Url.Action("_AspNetUsers_Delete", "Admin")`,
                    data: { id: clickid },
                    success: function (response) {
                        alert("刪除成功");
                        Load();
                    },
                    error: function (xhr, status, error) {
                        // 刪除失敗後的處理
                        alert("刪除不成功");
                        console.error(xhr.responseText);
                    }
                });
            }
        }); 

    });
</script>

