@model Seatly1.Models.NotificationRecord

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotificationRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityPhoto)
        </dt>
        <dd class = "col-sm-10">
            <partial name="_ShowActivityPhoto" />
@*             @Html.DisplayFor(model => model.ActivityPhoto) *@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRecurring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRecurring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecurringTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecurringTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ActivityId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
