@model Seatly1.Models.NotificationRecord

@{
    ViewData["Title"] = "Details";
}



<h1>Details</h1>

<div>
    <h4>NotificationRecord</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrganizerId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrganizerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityPhoto)
        </dt>
        <dd class = "col-sm-10">
            <partial name="_ShowActivityPhoto" />
@*             @Html.DisplayFor(model => model.ActivityPhoto) *@
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsRecurring)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsRecurring)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecurringTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecurringTime)
        </dd>
        @* <dt class="col-sm-2">
            JOIN~~
        </dt>
        <dd class="col-sm-10">
            <form asp-controller="Confirm" asp-action="Index" asp-route-NId="@Model?.ActivityId">
                <button>加入</button>
            </form>
        </dd> *@
    </dl>

<div>
        <a id="Details_Edit" data-id="@Model?.ActivityId">Edit</a> |
        <a id="NotificationRecord_Details_back">Back to List</a>
</div>

</div>
@section Scripts
{

}

