@model IEnumerable<NotificationRecord>

@* @{
    Layout =   "/Views/Shared/_Layout.cshtml";
} *@

<style>


.love-icon {
    cursor: pointer;
    transition: transform 0.2s;
}

.love-icon:hover {
    transform: scale(1.2);
}

</style>


@if (Model != null && Model.Any())
{
   
@* 卡片內容 *@
    <div>
        <ul id="activityList" >
            @foreach (var activity in Model)
            {
                <div  class="card mb-3 position-relative">
                    <div class="row g-0">
                        <div class="col-md-4">
                            @{
                                var base64Image = Convert.ToBase64String(activity.ActivityPhoto);
                                var imageSrc = $"data:image;base64,{base64Image}";
                            }
                            <img src="@imageSrc" alt="Activity Photo" class="img-fluid mb-2 mt-2 ms-2 w-75"  />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h3 class="card-title fs-3">活動名稱: @activity.ActivityName</h3>
                                <p class="card-text">活動代碼: @activity.ActivityId</p>
                                <p class="card-text">開始時間: @activity.StartTime</p>
                                <p class="card-text">結束時間: @activity.EndTime</p>
                                
                                <p class="card-text ">活動地點: <span class="location">@activity.Location</span></p>
                                <p class="card-text">
                                    @for (int i = 1; i <= 5; i++)
                                    {
                                        var tagName = "HashTag" + i;
                                        var tagValue = activity.GetType().GetProperty(tagName)?.GetValue(activity, null)?.ToString();
                                        if (!string.IsNullOrEmpty(tagValue))
                                        {
                                            <span>#<span class="hash-tag">@tagValue</span></span>
                                        }
                                    }
                                </p>

                                <span class="position-absolute top-0 end-0 m-3"><a class="text-danger love-icon" @@click="addToCollection(@activity.ActivityId)">❤加入收藏</a></span>
                              
                                

                                <form asp-action="UsersView" asp-controller="NotificationRecord" asp-route-id="@activity.ActivityId">
                                    <button type="submit" class="btn btn-primary position-absolute bottom-0 end-0 mb-2 me-2">查看活動</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br />
            }
        </ul>
    </div>
}

else
{
    <p>查無此活動</p>
}


<script>
  

    $(function () {
        var isSearching = sessionStorage.getItem("isSearching");
        if (isSearching == "true") {
            var hashtags = [];
            $(".hash-tag").each(function () {
                var tag = $(this).text()
                hashtags.push(`${tag}`)
            });
            
            var locations = [];
            $('.location').each(function () {
                var location = $(this).text()
                locations.push(`${location}`)
            })

            console.log(hashtags)
            console.log(locations)

            var filterData = {
                hashtags: hashtags,
                locations: locations
            };


            fetch(`@Url.Action("sideFilterPartial", "Search")`, {
                method: "POST",
                body: JSON.stringify(filterData),
                headers: { 'Content-type': 'application/json' }
            }).then(function (response) {
                return response.text();
            }).then(function (data) {
                $("#sideFilterContainer").html(data);
            }).catch(function (err) {

            });
            sessionStorage.removeItem("isSearching");
        }

    });

    // @* 加入收藏 *@

    var vueApp = {
        data() {
            return {}
        },
        methods: {
            async addToCollection(activityId) {
                const userLogin = sessionStorage.getItem('userLogin');
                const userId = sessionStorage.getItem('userId');

                if (userLogin !== 'true') {

                    alert('請先登錄會員！');
                    return;
                }

                try {

                    const response = await fetch(`/Collections/AddToCollection?activityId=${activityId}&userId=${userId}`, {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({ activityId: activityId, userId: userId })

                    });
                    const data = await response.json();

                    // alert('收藏成功！');
                    alert(data.message);
                } catch (error) {

                    console.error('Error:', error);
                    alert('收藏失敗，請稍後再試！');
                }
            },
        },
    }
    Vue.createApp(vueApp).mount("#activityList");
    
    
   
</script>
