@model Seatly1.Models.NotificationRecord


<h3>結果篩選</h3>
<fieldset class="search-filter-group">
    <legend class="search-filter-group_header">分類</legend>
    <div class="search-filter search-checkbox-filter">
        <label class="search-checkbox">
            <div class="search-checkbox_box">
                <input type="checkbox" name="" value="all" data-category="all" id="all"><span class="search-checkbox_label">查看全部</span>
            </div>
        </label>
    </div>
   @*  @foreach (var tag in Model)
    {
        <div class="search-filter search-checkbox-filter">
            <label class="search-checkbox">
                <div class="search-checkbox_box">
                    <input type="checkbox" name="" value="@tag" data-category="@tag"><span class="search-checkbox_label">@tag</span>
                </div>
            </label>
        </div>
    } *@



    @foreach (var tag in ViewBag.AllTags)
    {
        <div class="search-filter search-checkbox-filter">
            <label class="search-checkbox">
                <div class="search-checkbox_box">
                    <input type="checkbox" name="" value="@tag" data-category="@tag"><span class="search-checkbox_label">@tag</span>
                </div>
            </label>
        </div>
    }

     <legend class="search-filter-group_header">活動開始日期</legend>
    <label><input type="date" id="startDatePicker" class="form-control"></label>
    <legend class="search-filter-group_header">活動結束日期</legend>
    <label><input type="date" id="endDatePicker" class="form-control"></label>
    <button class="btn btn-primary" type="button" id="searchDurtion">日期區間搜尋</button>
    <button class="btn btn-primary" type="button" id="clearDurtion">清除日期</button>

   
</fieldset>


<script>


    var searchKeyword = sessionStorage.getItem("searchString");
    var parameters = {
        searchString: searchKeyword,
        categories: null,
        startDate: null,
        endDate: null,
    };

    var searchDateStart = sessionStorage.getItem("searchDate");
    var parametersDate = {
        searchDate: searchDateStart,
        categories: null,
        startDate: null,
        endDate: null,
    };

    $(function () {
        $(document).ready(function () {
            $("#all").prop("checked", true); 
        });

        // 监听日期选择器变化事件
        $('#searchDurtion').click(handleDuration)
           

            // console.log(selectedStartDate);
            // console.log(selectedEndDate);

            // 更新参数对象的 startDate 和 endDate 属性
            // parameters.startDate = selectedStartDate;
            // parameters.endDate = selectedEndDate;
            // parametersDate.startDate = selectedStartDate;
            // parametersDate.endDate = selectedEndDate;



            // // 在控制台输出更新后的参数对象
            // console.log(parameters);
            // console.log(parametersDate);

            // // 在这里执行 AJAX 请求或其他操作，使用更新后的 parameters 对象或 parametersDate 对象作为数据
           
        

        // 监听复选框点击事件
        $('input[type="checkbox"]').click(handleCheckboxClick);

        // checkbox篩選
        function handleCheckboxClick() {
            var selectedCategories = [];
            var checked = $('input[type="checkbox"]:checked');

            if ($(this).attr("id") !== "all" && $("#all").prop("checked")) {
                $("#all").prop("checked", false);
            } else if (checked.length == 0) {
                $("#all").prop("checked", true);
            }
            $('input[type="checkbox"]:checked').each(function () {
                selectedCategories.push($(this).data('category'));
            });

            // 更新参数对象的 categories 属性
            parameters.categories = selectedCategories;
            parametersDate.categories = selectedCategories;

            // parameters.startDate = selectedStartDate;
            // parameters.endDate = selectedEndDate;
            // parametersDate.startDate = selectedStartDate;
            // parametersDate.endDate = selectedEndDate;

            // 在这里执行 AJAX 请求或其他操作，使用更新后的 parameters 对象或 parametersDate 对象作为数据
            if (searchKeyword !== null) {
                if (selectedCategories.includes('all')) {
                    // 根据 searchString 进行初始搜索
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SearchPartial", "Search")',
                        data: parameters,
                    }).done(function (data) {
                        $("#searchResultContainer").html(data);
                    }).fail(function (err) {
                        alert(err.responseText);
                    });
                } else {
                    // 根据选中的筛选项进行搜索
                    $.ajax({
                        type: "POST",
                        url: "/Search/GetActivitiesByCategories",
                        data: parameters,
                        success:
                            // alert(parameters),
                            function (data) {
                                $('#searchResultContainer').html(data);
                            },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            } else if (searchDateStart !== null) {
                if (selectedCategories.includes('all')) {
                    // 根据 searchString 进行初始搜索
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SearchPartial", "Search")',
                        data: parametersDate,
                    }).done(function (data) {
                        $("#searchResultContainer").html(data);
                    }).fail(function (err) {
                        alert(err.responseText);
                    });
                } else {
                    // 根据选中的日期进行搜索
                    $.ajax({
                        type: "POST",
                        url: "/Search/GetActivitiesByCategories",
                        data: parametersDate,
                        success: function (data) {
                            $('#searchResultContainer').html(data);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            }
        }

        // 日期篩選
        function handleDuration() {
            $("#all").prop("checked", false)
            var selectedStartDate = $('#startDatePicker').val();
            var selectedEndDate = $('#endDatePicker').val();

            // 更新参数对象的 categories 属性
            // parameters.categories = selectedCategories;
            // parametersDate.categories = selectedCategories;

            
           

            // 在这里执行 AJAX 请求或其他操作，使用更新后的 parameters 对象或 parametersDate 对象作为数据
            if (searchKeyword !== null) {
                if (selectedStartDate == null && selectedEndDate == null) {
                    // 根据 searchString 进行初始搜索
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SearchPartial", "Search")',
                        data: parameters,
                    }).done(function (data) {
                        $("#searchResultContainer").html(data);
                    }).fail(function (err) {
                        alert(err.responseText);
                    });
                } else {
                    // 根据选中的筛选项进行搜索
                    parameters.categories = undefined;
                    parameters.startDate = selectedStartDate;
                    parameters.endDate = selectedEndDate;
                    $.ajax({
                        type: "POST",
                        url: "/Search/GetActivitiesByCategories",
                        data: parameters,
                        success:
                            // alert(parameters),
                            function (data) {
                                $('#searchResultContainer').html(data);
                            },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            } else if (searchDateStart !== null) {
                if (selectedStartDate == null && selectedEndDate == null) {
                    // 根据 searchString 进行初始搜索
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SearchPartial", "Search")',
                        data: parametersDate,
                    }).done(function (data) {
                        $("#searchResultContainer").html(data);
                    }).fail(function (err) {
                        alert(err.responseText);
                    });
                } else {
                    // 根据选中的日期进行搜索
                    parametersDate.categories = undefined;
                    parametersDate.startDate = selectedStartDate;
                    parametersDate.endDate = selectedEndDate;
                    $.ajax({
                        type: "POST",
                        url: "/Search/GetActivitiesByCategories",
                        data: parametersDate,
                        success: function (data) {
                            $('#searchResultContainer').html(data);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            }
        }





        // 清除日期
        $('#clearDurtion').click(function () {
            $('#startDatePicker').val('');
            $('#endDatePicker').val('');

            handleCheckboxClick();
        })
    });



</script>