@model Seatly1.Models.NotificationRecord

@section Styles{
    <style>
      
    </style>
}

@* <h3>結果篩選</h3> *@
<fieldset class="search-filter-group">
    <legend class="search-filter-group_header">分類</legend>
    <div class="search-filter search-checkbox-filter">
        <label class="search-checkbox">
            <div class="search-checkbox_box">
                <input type="checkbox" name="" value="all" data-category="all" id="all"><span class="search-checkbox_label">查看全部</span>
            </div>
        </label>
    </div>

   


    @foreach (var tag in ViewBag.AllTags)
    {
        <div class="search-filter search-checkbox-filter">
            <label class="search-checkbox">
                <div class="search-checkbox_box">
                    <input type="checkbox" name="" value="@tag" data-category="@tag"><span class="search-checkbox_label">@tag</span>
                </div>
            </label>
        </div>
    }
    <br />
    <div>
    <legend class="search-filter-group_header">活動開始日期</legend>
    <label><input type="date" id="startDatePicker" class="form-control"></label>
    <legend class="search-filter-group_header">活動結束日期</legend>
    <label><input type="date" id="endDatePicker" class="form-control"></label>
    <button class="btn btn-primary m-1" type="button" id="searchDurtion">日期區間搜尋</button>
    <button class="btn btn-primary m-1" type="button" id="clearDurtion">清除日期</button>
    </div>
    <br />

    <legend class="search-filter-group_header">活動地點</legend>
    @foreach (var location in ViewBag.AllLocations)
    {
        <div class="search-filter search-checkbox-filter">
            <label class="search-checkbox">
                <div class="search-checkbox_box">
                    <input type="checkbox" name="" value="@location" data-category="@location"><span class="search-checkbox_label">@location</span>
                </div>
            </label>
        </div>
    }
    <br />
</fieldset>


<script>


    var searchKeyword = sessionStorage.getItem("searchString");
    var parameters = {
        searchString: searchKeyword,
        categories: null,
        startDate: null,
        endDate: null,
    };

    var searchDateStart = sessionStorage.getItem("searchDate");
    var parametersDate = {
        searchDate: searchDateStart,
        categories: null,
        startDate: null,
        endDate: null,
    };

    $(function () {
        $(document).ready(function () {
            $("#all").prop("checked", true);
        });

        // 日期篩選變化
        $('#searchDurtion').click(handleDuration)

        // 分類篩選變化
        $('input[type="checkbox"]').click(handleCheckboxClick);

        // checkbox篩選
        function handleCheckboxClick() {
            var selectedCategories = [];
            var checked = $('input[type="checkbox"]:checked');

            if ($(this).attr("id") !== "all" && $("#all").prop("checked")) {
                $("#all").prop("checked", false);
            } else if (checked.length == 0) {
                $("#all").prop("checked", true);
            }
            $('input[type="checkbox"]:checked').each(function () {
                selectedCategories.push($(this).data('category'));
            });

            // 更新 categories
            parameters.categories = selectedCategories;
            parametersDate.categories = selectedCategories;

           

            // 檢查是否有選擇了日期
            if (parameters.startDate !== null && parameters.endDate !== null || parametersDate.startDate !== null && parametersDate.endDate !== null ) {
                // 如果有選擇了日期，則更新 parameters 物件中的 startDate 和 endDate
                var selectedStartDate = $('#startDatePicker').val();
                var selectedEndDate = $('#endDatePicker').val();
                parameters.startDate = selectedStartDate;
                parameters.endDate = selectedEndDate;
                parametersDate.startDate = selectedStartDate;
                parametersDate.endDate = selectedEndDate;
            }

            if (searchKeyword !== null) {
                if (selectedCategories.includes('all')) {
                    // 原始搜尋
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SearchPartial", "Search")',
                        data: parameters,
                    }).done(function (data) {
                        $("#searchResultContainer").html(data);
                    }).fail(function (err) {
                        alert(err.responseText);
                    });
                } else {
                    //
                    $.ajax({
                        type: "POST",
                        url: "/Search/GetActivitiesByCategories",
                        data: parameters,
                        success:
                            // alert(parameters),
                            function (data) {
                                $('#searchResultContainer').html(data);
                            },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            } else if (searchDateStart !== null) {
                if (selectedCategories.includes('all')) {
                    //
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SearchPartial", "Search")',
                        data: parametersDate,
                    }).done(function (data) {
                        $("#searchResultContainer").html(data);
                    }).fail(function (err) {
                        alert(err.responseText);
                    });
                } else {
                    //
                    $.ajax({
                        type: "POST",
                        url: "/Search/GetActivitiesByCategories",
                        data: parametersDate,
                        success: function (data) {
                            $('#searchResultContainer').html(data);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            }
        }

        // 日期篩選
        function handleDuration() {
            $("#all").prop("checked", false)
            var selectedStartDate = $('#startDatePicker').val();
            var selectedEndDate = $('#endDatePicker').val();

            // 更新 parameters 物件中的 startDate 和 endDate
            parameters.startDate = selectedStartDate;
            parameters.endDate = selectedEndDate;
            parametersDate.startDate = selectedStartDate;
            parametersDate.endDate = selectedEndDate;

            // 檢查是否有選擇了分類
            if (parameters.categories !== null || parametersDate.categories !== null ) {
                // 如果有選擇了分類，則更新 parameters 物件中的
                var selectedCategories = [];
                var checked = $('input[type="checkbox"]:checked');
                $('input[type="checkbox"]:checked').each(function () {
                    selectedCategories.push($(this).data('category'));
                });

                // 更新 categories
                parameters.categories = selectedCategories;
                parametersDate.categories = selectedCategories;

            }

            if (searchKeyword !== null) {
                if (selectedStartDate == null && selectedEndDate == null) {
                    // 首頁輸入關鍵字 原始搜尋
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SearchPartial", "Search")',
                        data: parameters,
                    }).done(function (data) {
                        $("#searchResultContainer").html(data);
                    }).fail(function (err) {
                        alert(err.responseText);
                    });
                } else {
                    // 加入篩選
                    // parameters.categories = undefined;
                    // parameters.startDate = selectedStartDate;
                    // parameters.endDate = selectedEndDate;
                    $.ajax({
                        type: "POST",
                        url: "/Search/GetActivitiesByCategories",
                        data: parameters,
                        success:
                            // alert(parameters),
                            function (data) {
                                $('#searchResultContainer').html(data);
                            },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            } else if (searchDateStart !== null) {
                if (selectedStartDate == null && selectedEndDate == null) {
                    // 首頁輸入日期 原始搜尋
                    $.ajax({
                        type: "GET",
                        url: '@Url.Action("SearchPartial", "Search")',
                        data: parametersDate,
                    }).done(function (data) {
                        $("#searchResultContainer").html(data);
                    }).fail(function (err) {
                        alert(err.responseText);
                    });
                } else {
                    // 加入篩選
                    // parametersDate.categories = undefined;
                    // parametersDate.startDate = selectedStartDate;
                    // parametersDate.endDate = selectedEndDate;
                    $.ajax({
                        type: "POST",
                        url: "/Search/GetActivitiesByCategories",
                        data: parametersDate,
                        success: function (data) {
                            $('#searchResultContainer').html(data);
                        },
                        error: function (xhr, status, error) {
                            console.error(error);
                        }
                    });
                }
            }
        }

        // 清除日期
        $('#clearDurtion').click(function () {
            $('#startDatePicker').val('');
            $('#endDatePicker').val('');

            parameters.startDate = null;
            parameters.endDate = null;
            parametersDate.startDate = null;
            parametersDate.endDate = null;

            // 儲存已選中的分類篩選項目
            var selectedCategories = [];
            $('input[type="checkbox"]:checked').each(function () {
                selectedCategories.push($(this).data('category'));
            });


            handleCheckboxClick();


        })
    });



</script>