@model IEnumerable<Seatly1.Models.NotificationRecord>

@{
    ViewData["Title"] = "Search Activity";
}

<h2>Search Activity</h2>


@if (Model != null && Model.Any())
{
    <h3>Search Results</h3>
    <ul>
        @foreach (var activity in Model)
        {
            <div>
            <img src="@activity.ActivityPhoto" alt="Activity Photo" />
            <li>活動名稱: @activity.ActivityName</li>
            <li>開始時間: @activity.StartTime</li>
            <li>結束時間: @activity.EndTime</li>
            <li>活動內容: @activity.Description</li>

            </div>
        }
    </ul>
}
else
{
    <p>No results found.</p>
}