@* @model IEnumerable<CollectionItem> *@

@* @foreach (var item in Model)
{
    <p>======================</p>
    <p>@item.SerialId</p>
    <p>@item.UserId</p>
    <p>@item.ActivityId</p>
} *@

@page
@model Seatly1.Areas.Identity.Pages.Account.Manage.CollectionsModel

@{
    ViewData["Title"] = "收藏清單";
    ViewData["ActivePage"] = ManageNavPages.Collections;
}

<h1>@ViewData["Title"]</h1>

@* @if (Model.Collections != null && Model.Collections.Any())
{
    <ul>
        @foreach (var item in Model.Collections)
        {
            <li>@item.UserId - @item.ActivityId</li>
        }
    </ul>
}
else
{
    <p>No collections found.</p>
} *@

